/*universalt*/
* {
    margin: 0;
    border: 0;
}

body {
    background-color: green;
    font-family: basic-sans, sans-serif;
    background-color: #F2F2F2;
    font-size: 16px;
    font-weight: 300;
}

.logo {
    font-size: 40px;
    color: #325935;
    font-family: strenuous, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-size: 32px;
    font-weight: 900;
    font-style: normal;
}

h2 {
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
}

h3 {
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
}

h4 {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
}

p {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
}

p2 {
    font-size: 28px;
    font-weight: 400;
    font-style: italic;
}

p3 {
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
}



/*header*/


/*footer*/

footer {
    display: flex;
    flex-wrap: wrap;
}

.footer-general {
    background-color: #325935;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 32px;
}

.footer-logo {
    color: #97BF7A;
    font-family: strenuous, sans-serif;
    font-size: 22px;
}

.footer-headline {
    color: #F2F2F2;
    font-weight: 600;
    padding-top: 15px;
}

.footer-text {
    color: #F2F2F2;
    font-weight: 300;
}

.footer-kontakt {
    background-color: #5E8C5D;
    width: 100%;
    padding: 32px;
}

.footer-kontakt-text {
    padding-top: 0px;
}

.footer-copyright {
    width: 100%;
}

.footer-copyright-text {
    font-size: 10px;
    font-weight: 100;
    color: #132623;
    text-align: center;
    padding: 20px;
}

/*index*/
/*skal rykkes op*/
html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFFFFF;
}

/*header i index*/
.index-header {
    background-image: url('/images/closeup-gylden-mark.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 120px;
}

#index-logo {
    font-size: 30px;
}

.bm-box{
    width: 32px;
    height: 32px;
    background-color: #F2F2F2;
}

.index-header-contain {
    padding: 8px 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.index-hero-contain {
    padding: 0px 32px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
}

.index-hero-h2 {
    color: #F2F2F2;
    font-weight: 900;
    font-style: italic;
}

.index-hero-p {
    color: #F2F2F2;
    font-style: italic;
    font-size: 24px;
}

.btn-index {
    background-color: #214029;
    color: #F2F2F2;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 50px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

.btn-index:hover {
    opacity: .95;
}

.btn-index:active {
    background-color: #325935;
}


/*cards slide*/
.index-card-sec {
    padding: 16px 32px;
}

.card-index-et {
    margin: 24px 0px;
    padding: 16px 24px;
    background-color: #F2F2F2;
    max-width: 302px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-index-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0px 10px;
}

.card-number {
    font-size: 60px;
}

.card-index-p p {
    margin-bottom: 20px;
}

.card-index-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*index card et responsive*/



/*index  små kategorier*/
.index-kategori-section {
    background-color: #F2F2F2;
}

.index-kategori-section img {
    max-width: 100%;
}

.index-kategori-section-contain {
    padding: 16px 32px;
}

.index-kategori-section-contain > h2, a{
    margin: 32px 0px;
}

.index-kategori-fakta {
    background-color: #325935;
    color: #F2F2F2;
    padding: 24px 32px;
    margin: 16px 0px;
    border: none;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px 32px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.index-kategori-fakta p {
   font-size: 22px;
   font-style: italic;
}

/*responsov kategori fakta box */
@media (min-width: 960px) {
    .index-kategori-section img {
        width: 50%;
        height: auto;
        object-fit: cover;
        object-position: right;
    }
    .index-kategori-section-flex {
        display: flex;
        flex-direction: row;
    }
}

/*Index - cards m billeder*/
.card-index-to {
    margin: 24px 0px;
    background-color: #F2F2F2;
    max-width: 350px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-index-to-contain {
    padding: 16px 24px;
}

.card-index-to img {
    max-width: 100%;
    border-radius: 4px 4px 0px 0px;
}


/*nyheder*/


.ny-hero-contain {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.ny-img-slider{
  background-color: grey;
  min-height: 500px;
  display: flex;
 flex-direction: column;
 flex: 1;
}
.ny-hero{
margin-top: auto;
background: rgba(0, 0, 0, .3);
padding: 16px 32px;
}

.ny-hero-h2 {
    color: #F2F2F2;
    font-weight: 900;
    font-style: italic;
}

.ny-hero-p {
    color: #F2F2F2;
    font-size: 24px;
}

.ny-sub, .ny-ark{
  padding: 32px 32px;
}
.ny-sub h3, .ny-ark h3, .ny-dropdown h3{
padding: 32px 0px;
}
.ny-btn-tilmed, .ny-btn-arkiv{
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.ny-dropdown{
  padding: 0px 32px;
}

.ny-dropdown-single{
  padding: 2px 0px;
}

.ny-collapsible {
  background-color: #5E8C5D;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
}

/* hover farve*/
.active, .ny-collapsible:hover {
  background-color: green;
}

/* grafik på indhld */
.ny-content {
  padding: 16px 16px;
  display: none;
  overflow: hidden;
  background-color: green;
  color: white;
}

.ny-collapsible:after {
  content: "\02795"; /* + tegn */
 font-size: 16px;
 color: white;
 float: right;
 margin-left: 5px;
}

.active:after {
  content: "\2796"; /* - tegn */
}


/*kategori*/

.category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 32px;
}
.category-square {
    height: 150px;
    width: 150px;
    margin-top: 32px;
    background-color: #325935;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.category-square-text {
    font-size: 16px;
    color:#F2F2F2;
    font-style: italic;
    text-align: center;
    padding-bottom: 28px;
}

.icon-categories {
    height: 50px;
    padding-top: 32px;
}

.fa-solid {
color: #ffffff;
margin:auto;
padding-top: 28px;
}

.category-info-text {
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
}

.category-kilde {
    font-size: 10px;
    padding-top: 5px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
}

.category-header {
        background-image: url("../images/wind-farm-mark.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 450px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 270px;
}

.category-hero-text-black {
    color: #F2F2F2;
    font-weight: 900;
    font-size: 26px;
    margin-left: 32px;
}

.category-logo {
    font-size: 30px;
}

.category-h1 {
    margin-left: 32px;
}

.category-hero-text {
    color: #F2F2F2;
    font-weight: 400;
    font-style: italic;
    font-size: 22px;
    margin-left: 32px;
}

.category-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 450px;
}
.category-omkostninger-img {
    background-image: url("../images/grøn-mark-hvid-himmel.jpg");
}

.category-opladning-img {
}

.placeholder-img {
    height: 250px;
    width: 100%;
    background-color: #97BF7A;
}
/*om os*/
/*om os*/
.hero-om-os {
    padding: 32px;
}

/*kontakt*/
.kontaktformular {
display: flex;
flex-direction: column;

}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 8px 0px 8px 0px;
    resize: vertical;
}

.checkbox-container {
    display: flex;
    height: 64px;
    flex-direction: column;
    justify-content: space-around;

}

.checkbox-container label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
}

input[type=submit] {
 background-color: #325935;
 color: #F2F2F2;
 border-radius: 20px;
 cursor: pointer;
 height: 48px;
 font-size: 18px;
 margin: 24px 0px;
 width: 60%;
 max-width: 350px;
 align-self: center;

}

section.kontakt-os {
    padding: 32px;
}

section.information {
    background-color: #5E8C5D;
    color: #F2F2F2;
    padding: 32px;
}

section.faq {
    display: flex;
    justify-content: center;
    padding: 32px;
}
