/*universalt*/
* {
    margin: 0;
    border: 0;
}

body {
    background-color: green;
    font-family: basic-sans, sans-serif;
    background-color: #F2F2F2;
}

.logo {
    font-size: 2.5em;
    color: #325935;
    font-family: strenuous, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-size: 2.5em;
    font-weight: 900;
    font-style: normal;
}

h2 {
    font-size: 2.25em;
    font-weight: 700;
    font-style: normal;
}

h3 {
    font-size: 1.625em;
    font-weight: 600;
    font-style: normal;
}

h4 {
    font-size: 1.5em;
    font-weight: 600;
    font-style: normal;
}

p {
    font-size: 1.5em;
    font-weight: 300;
    font-style: normal;
}

p2 {
    font-size: 1.75em;
    font-weight: 400;
    font-style: italic;
}

p3 {
    font-size: 1.125em;
    font-weight: 300;
    font-style: normal;
}



/*header*/


/*footer*/

footer {
    display: flex;
    flex-wrap: wrap;
}

.footer-general {
    background-color: #325935;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 32px;
}

.footer-logo {
    color: #97BF7A;
    font-family: strenuous, sans-serif;
    font-size: 22px;
}

.footer-headline {
    color: #F2F2F2;
    font-weight: 600;
    padding-top: 15px;
}

.footer-text {
    color: #F2F2F2;
    font-weight: 300;
}

.footer-kontakt {
    background-color: #5E8C5D;
    width: 100%;
    padding: 32px;
}

.footer-kontakt-text {
    padding-top: 0px;
}

.footer-copyright {
    width: 100%;
}

.footer-copyright-text {
    font-size: 10px;
    font-weight: 100;
    color: #132623;
    text-align: center;
    padding: 20px;
}

/*forsiden*/

/*nyheder*/

/*kategori*/

/*om os*/